<a href="https://colab.research.google.com/github/2303A51144/2303a51144_B17/blob/main/Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
titanic = pd.read_csv("/content/Titanic-Dataset.csv")
print("First 5 rows of Titanic dataset:")
print(titanic.head())
print("\nMissing values BEFORE cleaning:")
print(titanic.isnull().sum())
titanic['Age'] = titanic['Age'].fillna(titanic['Age'].mean())
titanic['Embarked'] = titanic['Embarked'].fillna(titanic['Embarked'].mode()[0])
titanic.drop('Cabin', axis=1, inplace=True)
titanic.drop('Ticket', axis=1, inplace=True)
print("\nMissing values AFTER cleaning:")
print(titanic.isnull().sum())
titanic.to_csv("titanic_cleaned.csv", index=False)
print("\n✅ Cleaned dataset saved as 'titanic_cleaned.csv'")
print("\nSummary of Cleaned Dataset:")
print(titanic.describe(include="all"))

First 5 rows of Titanic dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Missing values BEFORE cleaning:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Missing values AFTER cleaning:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

✅ Cleaned dataset saved as 'titanic_cleaned.csv'

Summary of Cleaned Dataset:
        PassengerId    Survived      Pclass                 Name   Sex  \
count    891.000000  891.000000  891.000000                  891   891
unique          NaN         NaN         NaN                  891     2
top             NaN         NaN         NaN  Dooley, Mr. Patrick  male
freq            NaN         NaN         NaN                    1   577
mean     446.000000    0.383838    2.308642                  NaN   NaN
std      257.353842    0.486592    0.836071                  NaN   NaN
min        1.000000    0.000000    1.000000                  NaN   NaN
25%      223.500000    0.000000    2.000000                  NaN   NaN
50%      446.000000    0.000000    3.000000                  NaN   NaN
75%      668.500000    1.000000    3.000000                  NaN   NaN
max      891.000000    1.000000    3.000000                  NaN   NaN

               Age       SibSp       Parch        Fare Embarked
count   891.000000  891.000000  891.000000  891.000000      891
unique         NaN         NaN         NaN         NaN        3
top            NaN         NaN         NaN         NaN        S
freq           NaN         NaN         NaN         NaN      646
mean     29.699118    0.523008    0.381594   32.204208      NaN
std      13.002015    1.102743    0.806057   49.693429      NaN
min       0.420000    0.000000    0.000000    0.000000      NaN
25%      22.000000    0.000000    0.000000    7.910400      NaN
50%      29.699118    0.000000    0.000000   14.454200      NaN
75%      35.000000    1.000000    0.000000   31.000000      NaN
max      80.000000    8.000000    6.000000  512.329200      NaN

In [8]:
import pandas as pd
students = pd.read_csv("students.csv")
print("Original Dataset with Inconsistent Gender:")
print(students)
students["Gender"] = students["Gender"].str.lower().map({
    "m": "Male",
    "male": "Male",
    "f": "Female",
    "female": "Female"
})

print("\n Cleaned Dataset with Standardized Gender:")
print(students)
print("\nUnique Gender categories AFTER cleaning:")
print(students["Gender"].unique())

Original Dataset with Inconsistent Gender:
   StudentID     Name  Gender  Score
0          1    Alice       M     85
1          2      Bob    Male     78
2          3  Charlie    male     92
3          4    David       F     88
4          5      Eva  Female     76
5          6    Frank  female     95

 Cleaned Dataset with Standardized Gender:
   StudentID     Name  Gender  Score
0          1    Alice    Male     85
1          2      Bob    Male     78
2          3  Charlie    Male     92
3          4    David  Female     88
4          5      Eva  Female     76
5          6    Frank  Female     95

Unique Gender categories AFTER cleaning:
['Male' 'Female']